.container {
    display: grid;
    grid-template-columns: 75% 25%; /* Sol sütunun %25'ini, sağ sütunun %75'ini kapla */
    grid-template-rows: auto auto;
    grid-template-areas: 
       "alan1 alan3"
       "alan2 alan3";
    padding: 0;
    width: 100%;
    margin: 0 auto; /* Dikey hizalama için */
}

.alan1 {
    grid-area: alan1;
    background-color: #f0f0f0;
    padding: 20px;
}

.alan2 {
    grid-area: alan2;
    background-color: #e0e0e0;
    padding: 20px;
    margin-top: 10px;
}

.alan3 {
    grid-area: alan3;
    background-color: #d0d0d0;
    padding: 20px;
    margin-left: 10px;
}
