.container {
    display: flex;
    width: 100%;
    height: calc(100vh - var(--footer-height) - 5px); /* Footer'dan 5px yukarıda bitmesini sağla */
    box-sizing: border-box;
}

.svg-container {
    width: 75%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* SVG'nin boyutu aşarsa gizle */
}

.svg-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    flex: 3;  /* İçerik bölümüne daha fazla yer ayır */
    width: 100%; /* Geri kalan genişliği doldur */
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Taşan içerikleri gizle */
    box-sizing: border-box;
}

.alan1, .alan2, .alan3 {
    /* Eşit yükseklikte büyümesini sağla *//* İçerik fazla olduğunda kaydırılabilir */
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc; /* Görsel ayrım için */
    height: 180px;
    overflow: scroll;
    
}
