/* src/EczaneListesi.css */

.eczane-listesi {
 width: 100%;
 border-collapse: collapse;
 margin-top: 20px;
}

.eczane-listesi th,
.eczane-listesi td {
 border: 1px solid #ddd;
 padding: 8px;
 text-align: left;
}

.eczane-listesi th {
 background-color: #4CAF50;
 color: white;
}

.eczane-listesi tr:nth-child(even) {
 background-color: #f2f2f2;
}

.eczane-listesi tr:hover {
 background-color: #ddd;
}
