.eczane-listele-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }

 .eczane-listele-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
  }
  
  .eczane-listele-form button:hover {
    background-color: #45a049;
  }
  
  .eczane-listele-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .eczane-listele-form {
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  .input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .eczane-listele-tablosu {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .eczane-listele-tablosu th,
  .eczane-listele-tablosu td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .eczane-listele-tablosu th {
    background-color: #f4f4f4;
  }
  
  .eczane-listele-tablosu tbody tr:nth-child(odd) {
    background-color: #fafafa;
  }
  
  .eczane-listele-tablosu tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .konum-goster-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .konum-goster-link:hover {
    background-color: #45a049;
  }
  