.footer {
 background-color: black;
 color: white;
 height: 50px;
 display: block;
 justify-content: space-between;
 align-items: center;
 font-size: 12px;
 padding: 20px;
 height: 70px;
 margin: 0;

 position: fixed;
 bottom: 0;
 width: 100%;
}

.footer svg {
 z-index: -1;
}
