.harfler-kutu {
    width: 75%; /* Ekranın %75'ini kapla */
    margin: 0 auto; /* Dikey hizalama için */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1px;
    background-color: #f8f9fa;
}

.harf {
    padding: 5px 10px; /* İçeriklerin etrafındaki boşlukları ayarla */
    text-decoration: none; /* Alt çizgiyi kaldır */
    color: #333; /* Metin rengi */
    margin: 5px; /* İçer */
}