.navbar {
    background-color: orange;
    display: flex;
    justify-content: center; /* İçeriklerin ortalanmasını sağlayın */
    padding: 5px 0;
    width: 100%;
    margin: 0 auto;
}

.navbar-content {
    width: 75%; /* Navbarın %75'ini kapla */
    display: flex;
    justify-content: space-around; /* İçerikler arasında boşluk bırak */
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 5px 10px; /* İçeriklerin etrafındaki boşlukları ayarla */
}
